.icon {
    font-size: 1em;
}

.quantity {
    width: 100% !important;
}

.priority {
    width: 100% !important;
}

.deleteIcon {
    cursor: pointer;
}

.shopList {
    
}

.checkIcon {
    cursor: pointer;
    color: black;
}

.no-seleccionable {
    user-select: none;
}